/*
 * Blueprint v0.2 (github.com/nathanborror/blueprint)
 * Copyright 2015 Nathan Borror
 * Distributed under the New BSD license.
 */


/* Context Menu */
.bp-context-menu { position: fixed; padding: 4px 0; width: 160px; background: #fff; overflow: hidden; z-index: 999; font-size: 14px;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,.2); }
.bp-context-item { margin: 4px 0; padding: 6px 16px; cursor: default; }
.bp-context-item:hover,
.bp-context-item-selected { background: #f5fafe; }
.bp-context-item:last-child { border-bottom: none; }


/* Stack */
.bp-stack {}
.bp-group { position: relative; }


/* Token Field */
.bp-token { border: 1px solid #ddd; font-size: 32px; }
.bp-token-value { display: inline; }
.bp-token-input { display: inline; padding: 0; width: 4px; border: none; background: #eee; border-radius: 0; font-size: 32px; }
.bp-token-select-all .bp-token-value { background: #f5fafe; }


/* Modal */
.bp-modal-mask { display: none; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(240,240,240,.75); z-index: 999; }
.bp-modal-mask-active { display: block; }
.bp-modal { position: fixed; top: 64px; left: 50%; width: 60%; min-height: 320px; margin-left: -30%; padding: 32px; background: rgba(255,255,255,1); }


/* Collection */
.bp-collection { margin-bottom: 48px; }
.bp-section { margin-bottom: 16px; font-size: 13px; text-transform: uppercase; font-weight: 500; }
.bp-cell { -webkit-user-select: none; cursor: default; }


/* Form */
.bp-button { color: rgba(90,172,106,1); }


/* Typeahead */
.bp-typeahead { position: relative; }
.bp-typeahead-clear { display: none; position: absolute; top: 0; right: 0; width: 16px; height: 16px; background: #ddd; }
.bp-typeahead-selected input { border-color: rgba(90,172,106,1); color: rgba(90,172,106,1); }
.bp-typeahead-selected .bp-typeahead-clear { display: block; }
